body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 1100px;
    margin: 0px auto;
}
header{
    background: red;
    height: 80px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}
nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: 80%;
    min-height: 500px;
    background: greenyellow;
}
aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 105px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}